---
layout: oeuvre 
title:  
categories:
tags:  
thumbnail: 
image: 
---
<h2><a href="2006">2006</a></h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2006' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2><a href="2007">2007</a></h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2007' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2>2008</h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2008' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2>2009</h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2009' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2>2010</h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2010' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2>2011</h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2011' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2>2012</h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2012' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2>2013</h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2013' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2>2014</h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2014' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}


<h2>2015</h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2015' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}

<h2><a href="2016">2016</a></h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2016' %} 
    <div class="item"> 
        <p><a href="{{page.url}}">{{page.title}}</a></p>   
      {% if page.thumb_square  %}
        <img src="/oeuvre/{{page.year}}/{{page.art_name}}/{{page.thumb_square}}"/>
      {% endif %}
    </div> 
  {% endif %} 
{% endfor %}


<h2><a href="2017" alt="Kyle Cunningham Artworks 2017">2017</a></h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2017' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}


<h2><a href="2018">2018<a></h2> 
{% for page in site.pages %} 
  {% if page.categories contains '2018' %} 
    <div class="item"> 
      <p><a href="{{page.url}}">{{page.title}}</a></p>   
    </div> 
  {% endif %} 
{% endfor %}
